<h1>Books Borrowed by <%= @user.first_name %> <%= @user.last_name %></h1>

<table border="1">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Date Borrowed</th>
        <th>Due Date</th>
    </tr>
    <% @borrows.each do |borrow| %>
    <tr>
        <td><%= borrow.book.title %></td>
        <td><%= borrow.book.author %></td>
        <td><%= borrow.date_borrowed.strftime('%Y-%m-%d') %></td>
        <td><%= borrow.due_date.strftime('%Y-%m-%d') %></td>
    </tr>
    <% end %>
</table>

<%= link_to "Back to Books", books_path %>